extends layout.pug

block append scripts
  <script src='https://www.google.com/recaptcha/api.js'></script>

block append content
  section.normal-page-container
    div(style="text-align:center;")
      p.
        Please contact me with the email on my CV  #[a(href="https://www.linkedin.com/in/amber-elferink/" target="_blank") or via LinkedIn]
        a connection request with a message works.
  //-   ul.errors
  //-     each error in errs
  //-       li= error.msg
  //-   <form action="/contact" method="post">
  //-   <label for="name">Name</label>
  //-   <input type="text" id="name" name="name" placeholder="Your name..." value=#{name}>

  //-   <label for="email">Email address</label>
  //-   <input type="text" id="email" name="email" placeholder="Your email..." value=#{email}>

  //-   <label for="subject">Subject</label>
  //-   <input id="subject" name="subject" placeholder="Subject..." value=#{subject}>

  //-   <label for="content">Content</label>
  //-   <textarea id="content" name="content" placeholder="Write something..." style="height:400px">#{content}</textarea>

  //-   //online key: 6LchEZEUAAAAAGTXMp5ZRhTpK8iM7aafYopIBXuJ
  //-   //test key: 6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI
  //-   <div class="g-recaptcha" data-sitekey="6LchEZEUAAAAAGTXMp5ZRhTpK8iM7aafYopIBXuJ" ></div>
    
  //-   <input type="submit" class="btn-inline" value="Submit">
  //- </form>

  section.working-exp
    
    <button class ="btn-inline btn-highlight" onclick="parent.location='/projects'"><i class="fa fa-files-o"></i> View my projects </button>
    <button class ="btn-inline" onclick="parent.location='/workexperience'"><i class="fa fa-briefcase"></i> Work experience </button>
    <button class ="btn-inline" onclick="parent.location='/'"><i class="fa fa-briefcase"></i> View inspiration </button>
    <button class ="btn-inline" onclick="window.open('/files/Curriculum vitae - Amber Elferink.pdf', '_blank');"><i class="fa fa-download"></i> Download CV </button>