extends layout.jade

block append stylesheets
  //-<link defer href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script defer src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <link defer href="/stylesheets/carousel.css" rel="stylesheet">

block content
     div.normal-page-container
        section
          h1.page-header #{title}
          p.
              I'm Amber and I absolutely love learning. After finishing my chemistry bachelor, I decided I was not done studying yet, and started a computer science bachelor.
              I thought I loved chemistry, but studying computer science, I have found an even greater love.
              I have always been interested in programming computers, robots and Arduino's and want to learn everything there is to know about it.
          p.
              Recently I discovered a great interest in Virtual Reality and haptics, which makes the user experience the forces of the virtual world.
              Since this is a young technology, I feel there is a lot to be done. I decided I want to be a part of the pioneers that connect that world to ours.
              In my spare time, I'm trying to develop a haptic device for the legs. Before that will be brought to life, I have a lot to learn.
          p.
              And since I love learning, that seems like a great thing to do!

              
        //-adapted from: https://bootsnipp.com/snippets/featured/responsive-quote-carousel
        //------------------------CAROUSEL------------------------------
        .row
          .col-md-offset-2.col-md-8.text-center
            h1 Reviews from former employers
        .row.bordercarr
          .col-md-offset-2.col-md-8
            #quote-carousel.carousel.slide(data-ride='carousel')
              // Bottom Carousel Indicators
              ol.carousel-indicators
                li.active(data-target='#quote-carousel', data-slide-to='0')
                li(data-target='#quote-carousel', data-slide-to='1')
                li(data-target='#quote-carousel', data-slide-to='2')
              // Carousel Slides / Quotes
              .carousel-inner
                // Quote 1
                .item.active
                  blockquote
                    .row
                      .col-sm-3.text-center
                        img.img-circle(src='/images/Portrait-PaulienVanBentum.jpg', style='width: 100px;height:100px;')
                      .col-sm-9
                        p
                          | Amber is a hardworking person and she takes her responsibilities seriously. 
                          | She is a real team player, because she solved multiple (unexpected) problems together with her teammates during a traveling chemistry practical. 
                          br
                          | She is sometimes a bit uncertain at the start of a new assignment, but she quickly acquires new knowledge and skills and her end results are very good. 
                          | She made, for example, a handy, accessible database of schools. 
                          br
                          | She shows initiative by proposing improvements, which were incorporated in a manual for assistants. 
                          | I'm very satisfied with her work and I highly recommend her for any endeavor she chooses to pursue!
                        small 
                          img.LI-icon(src='/images/LinkedIn-Logo.png')
                          |Paulien van Bentum, chemistry education coordinator at the Utrecht University


                // Quote 2
                .item
                  blockquote
                    .row
                      .col-sm-3.text-center
                        img.img-circle(src='https://s3.amazonaws.com/uifaces/faces/twitter/mijustin/128.jpg', style='width: 100px; height:100px;')
                      .col-sm-9
                        p.
                          Amber has worked with me as a student assistent in a short course for high school students about making projects with Arduino's and electrical components. With little help, Amber got to know the material beforehand (ie. building prjects with the Arduino). Amber showed interest in the course and aligned her own approach to students with the goals and didactics. She was punctual, proactive in helping students and communicative concerning to where she did and didn't have the knowledge to help. So all in all: a great addition to the teaching team!


                        small Someone famous
                // Quote 3
                .item
                  blockquote
                    .row
                      .col-sm-3.text-center
                        img.img-circle(src='https://s3.amazonaws.com/uifaces/faces/twitter/keizgoesboom/128.jpg', style='width: 100px; height:100px;')
                      .col-sm-9
                        p
                          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.
                        small Someone famous
              // Carousel Buttons Next/Prev
              a.left.carousel-control(data-slide='prev', href='#quote-carousel')
                i.fa.fa-chevron-left
              a.right.carousel-control(data-slide='next', href='#quote-carousel')
                i.fa.fa-chevron-right

        section.working-exp
          h1 Working experience
          <button class ="btn-inline" onclick="parent.location='/projects'"><i class="fa fa-files-o"></i> View my projects </button>
          <button class ="btn-inline" onclick="window.open('/files/Curriculum vitae - Amber Elferink.pdf', '_blank');"><i class="fa fa-download"></i> Download CV </button>
        