extends layout.jade

block append stylesheets
  //-<link defer href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link defer href="/stylesheets/carousel.css" rel="stylesheet">
  <link href="/stylesheets/profileImage.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  

block content
        section.normal-page-container
          .profile-header-img
            picture
              source(srcset="images/profielfoto.webp" type="image/webp")
              img.img-circle(src='/images/profielfoto.jpg' type="image/jpeg")
            // badge
            .rank-label-container
              span.label.label-default.label-green.rank-label Amber Elferink
          .belowRaised
            h1 #{title}
            p.
               My name is Amber and I absolutely love learning. 
               Recently I discovered a great interest in Virtual Reality and haptics, which makes the user experience the forces of the virtual world. 
               Since this is a young technology, there is a lot to be done. 
               I decided it would be amazing to be a part of the pioneers that connect that world to ours. 
               In my spare time I am trying to develop a haptic exoskeleton for arms. My ultimate goal is to develop an exoskeleton for legs as well.
            p.
                After finishing my chemistry bachelor, I wanted to continue my studies and started a computer science bachelor. 
                Although I love chemistry, in studying computer science I have found an even greater passion. 
                Programming computers, robots and Arduino's has always interested me and my aim is now to significantly further my knowledge on this subject.
            p.
                Before my haptic exoskeleton will be brought to life, I have a lot to learn. 
                And since I love learning, that seems like a great thing to do!

                
        //-adapted from: https://bootsnipp.com/snippets/featured/responsive-quote-carousel
        //------------------------CAROUSEL------------------------------
        .row
          .col-md-offset-2.col-md-8.text-center
            h1 Reviews from former employers
        .row.bordercarr
          .col-md-offset-2.col-md-8
            #quote-carousel.carousel.slide(data-ride='carousel')
              // Bottom Carousel Indicators
              ol.carousel-indicators
                li.active(data-target='#quote-carousel', data-slide-to='0')
                li(data-target='#quote-carousel', data-slide-to='1')
                li(data-target='#quote-carousel', data-slide-to='2')
                li(data-target='#quote-carousel', data-slide-to='3')

              // Carousel Slides / Quotes
              .carousel-inner
                // Quote 1
                .item.active
                  blockquote
                    .row
                      .col-sm-3.text-center
                        picture
                          source(srcset="/images/Portrait-ChristianKoppe.webp" type="image/webp" style='width: 100px;height:100px;')
                          img.img-circle(src='/images/Portrait-ChristianKoppe.jpg' type="image/jpeg" style='width: 100px;height:100px;')                      
                      .col-sm-9
                        p 
                          |Amber assisted me in various computer science modules for pupils from upper secondary education as part of the U-Talent programme at the Utrecht University. She helped the pupils during practical exercises and used her thorough knowledge of Arduino development, Unity, Sonic Pi and Processing in a very constructive, friendly and supportive way. Especially her proactive approach was valued by both me and the pupils.
                        small 
                          a(href="https://www.linkedin.com/in/christian-k%C3%B6ppe-0810529/" target="_blank")
                            <img class="inline LI-icon" src='/images/LinkedIn-Logo.png'> <span class="inline"> Christian Köppe - Lecturer Computer Science at the U-Talent program </span>
                .item
                  blockquote
                    .row
                      .col-sm-3.text-center
                        picture
                          source(srcset="/images/Portrait-PaulienVanBentum.webp" type="image/webp"  style='width: 100px;height:100px;')
                          img.img-circle(src='/images/Portrait-PaulienVanBentum.jpg' type="image/jpeg" style='width: 100px;height:100px;')                      
                      .col-sm-9
                        p
                          | Amber is a hardworking person and she takes her responsibilities seriously. 
                          | She is a real team player, because she solved multiple (unexpected) problems together with her teammates during a traveling chemistry practical. 
                          br
                          | She is sometimes a bit uncertain at the start of a new assignment, but she quickly acquires new knowledge and skills and her end results are very good. 
                          | She made, for example, a handy, accessible database of schools. 
                          br
                          | She shows initiative by proposing improvements, which were incorporated in a manual for assistants. 
                          | I'm very satisfied with her work and I highly recommend her for any endeavor she chooses to pursue!
                        small 
                          a(href="https://www.linkedin.com/in/paulien-van-bentum-1485aa51/" target="_blank")
                            <img class="inline LI-icon" src='/images/LinkedIn-Logo.png'> <span class="inline"> Paulien van Bentum, chemistry education coordinator - Utrecht University </span>


                // Quote 2
                .item
                  blockquote
                    .row
                      .col-sm-3.text-center
                        picture
                          source(srcset="/images/Portrait-PeterDuifhuis.webp" type="image/webp" style='width: 100px;height:100px;')
                          img.img-circle(src='/images/Portrait-PeterDuifhuis.jpg' type="image/jpeg" style='width: 100px;height:100px;')     
                      .col-sm-9
                        p.
                          Amber has worked with me as a student assistent in a short course for high school students about making projects with Arduino's and electrical components. With little help, Amber got to know the material beforehand (ie. building projects with the Arduino). Amber showed interest in the course and aligned her own approach to students with the goals and didactics. She was punctual, proactive in helping students and communicative concerning to where she did and didn't have the knowledge to help. So all in all: a great addition to the teaching team!
                        small 
                          a(href="https://www.linkedin.com/in/peter-duifhuis-2162998/" target="_blank")
                            <img class="inline LI-icon" src='/images/LinkedIn-Logo.png'> <span class="inline"> Peter Duifhuis - Coordinator U-talent Arduino course - Utrecht University </span>
                            
                // Quote 3
                .item
                  blockquote
                    .row
                      .col-sm-3.text-center
                        picture
                          source(srcset="/images/Portrait-ManonThijssen.webp" type="image/webp" style='width: 100px;height:100px;')
                          img.img-circle(src='/images/Portrait-ManonThijssen.jpg' type="image/jpeg" style='width: 100px;height:100px;')     
                      .col-sm-9
                        p
                          | As coordinator of Project Werfkracht where Amber participated as teaching assistant, I have learned to know her as a great student to work with. Amber is clear in her communication, is intelligent and quickly sees what is needed somewhere. She is patient and friendly and is always prepared to take on extra tasks. She works hard and good.
                        small 
                            span.inline Manon Thijssen - Coordinator Project Werfkracht - Utrecht University
              // Carousel Buttons Next/Prev
              a.left.carousel-control(data-slide='prev', href='#quote-carousel')
                i.fa.fa-chevron-left
              a.right.carousel-control(data-slide='next', href='#quote-carousel')
                i.fa.fa-chevron-right

        section.working-exp
          h1 Working experience
          <button class ="btn-inline" onclick="window.open('/files/Curriculum vitae - Amber Elferink.pdf', '_blank');"><i class="fa fa-download"></i> Download CV </button>
          <button class ="btn-inline btn-highlight" onclick="parent.location='/projects'"><i class="fa fa-files-o"></i> View my projects </button>
          <button class ="btn-inline" onclick="parent.location='/workexperience'"><i class="fa fa-briefcase"></i> Work experience </button>
        