doctype html
html(lang="en")
  head
    <meta name="viewport" content="width=device-width, user-scalable=yes" />
    title Amber Elferink - #{title}
    block stylesheets
      link(rel='stylesheet', id='bootstrap-css', href='/stylesheets/bootstrap.css')
      <link defer href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      link(rel='stylesheet', href='/stylesheets/style.css')     
      <link defer href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    block scripts
      script(async, defer, src='/javascripts/jquery.js')
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

  body
    block navbar
      // Navigation
      nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
        .container  
          div.navbar-brand         
            a(href="/")
              i.fa.fa-linkedin-square
            a(href="/")
              i.fa.fa-github-square
            a(href="/")#navbar-brand-name
              |Portfolio - Amber Elferink
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarResponsive.collapse.navbar-collapse
            li.navbar-nav.ml-auto
              <button class ="btn-nav" onclick="window.open('/files/Curriculum vitae - Amber Elferink.pdf', '_blank');"><i class ="fa fa-download nav-download"></i>Download CV </button>
              //-files/Curriculum%20vitae%20-%20Amber%20Elferink.pdf
            ul.navbar-nav.ml-auto
              li.nav-item.active
                a.nav-link(href='/')
                  i.fa.fa-home
                  | Home
                  span.sr-only (current)
              li.nav-item
                a.nav-link(href='/projects') 
                  i.fa.fa-files-o
                  | Projects
              li.nav-item
                a.nav-link(href='/workexperience') 
                  i.fa.fa-briefcase
                  | Work experience
              li.nav-item
                a.nav-link(href='/contact') 
                  i.fa.fa-envelope-o
                  | Contact
    block headerImg
      img(href='/' src="/images/Header.jpg")#headerImage



    block content
      div.normal-page-container
        h1.page-header #{title}
    
    block foot
      hr
      footer
        p.
          Amber Elferink
            