doctype html
html(lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#")
  head
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1" />
    <meta property="og:image" content="http://www.amberelferink.com/images/Header-mobile.jpg" />
    <meta property="og:title" content="Portfolio Amber Elferink"/>
    <meta property="og:url" content="http://www.amberelferink.com/"/>
    <meta name="author" content="Amber Elferink">
    <meta property="published_time" content="2021-02-13" />

    title Amber Elferink - #{title}
    block stylesheets
      link( defer rel='stylesheet', id='bootstrap-css', href='/stylesheets/bootstrap.css')
      <link defer href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      link( defer rel='stylesheet', href='/stylesheets/style.css')     
      <link defer href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    block scripts
      //script(async, defer, src='/javascripts/jquery.js')
      <script defer src="//code.jquery.com/jquery-1.11.1.min.js"></script>
      <script defer src="/javascripts/bootstrap330.js"></script>
      <script src="javascripts/navbar.js"></script>

  body
    block navbar
      // Navigation
      nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed#navbar
        .container  
          div.navbar-brand         
            a(href="https://www.linkedin.com/in/amber-elferink/" target="_blank")
              i.fa.fa-linkedin-square
            a(href="https://github.com/AmberElferink" target="_blank")
              i.fa.fa-github-square
            a(href="/")#navbar-brand-name
              |Portfolio - Amber Elferink
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarResponsive.collapse.navbar-collapse
            li.navbar-nav.ml-auto
              <button class ="btn-nav" onclick="window.open('/files/Curriculum vitae - Amber Elferink.pdf', '_blank');"><i class ="fa fa-download nav-download"></i>Download CV </button>
              //-files/Curriculum%20vitae%20-%20Amber%20Elferink.pdf
            ul.navbar-nav.ml-auto
              li.nav-item.active
                a.nav-link(href='/')
                  i.fa.fa-home
                  | Home
                  span.sr-only (current)
              li.nav-item
                a.nav-link(href='/projects') 
                  i.fa.fa-files-o
                  | Projects
              li.nav-item
                a.nav-link(href='/workexperience') 
                  i.fa.fa-briefcase
                  | Work & Education
              li.nav-item
                a.nav-link(href='/contact') 
                  i.fa.fa-envelope-o
                  | Contact
    block headerImg
      picture
        <source media="(min-width: 992px)" srcset="images/Header.webp" type="image/webp">
        <source media="(min-width: 500px)" srcset="images/Header-tablet.webp" type="image/webp">
        <source media="(min-width: 0px)" srcset="images/Header-mobile.webp" type="image/webp">
        <source media="(min-width: 992px)" srcset="images/Header.jpg" type="image/jpeg">
        <source media="(min-width: 500px)" srcset="images/Header-tablet.jpg" type="image/jpeg">
        <source media="(min-width: 0px)" srcset="images/Header-mobile.jpg" type="image/jpeg">
        img(href='/' src="/images/Header.jpg" alt="Header Amber Elferink")#headerImage



    block content
      div.normal-page-container
        h1.page-header #{title}


    
    block foot
      hr
      footer
       
        p.
          Amber Elferink
            