extends layout.jade
block append stylesheets
  link(rel='stylesheet' defer, href='/stylesheets/bootstrap-grid.css')
  link(rel='stylesheet' defer, href='/stylesheets/bootstrap-reboot.css')
  link(rel='stylesheet' defer, href='/stylesheets/projectBoxes.css')
  link(rel='stylesheet' defer, href='/stylesheets/working-experience.css')

//-images should be 700x464 to be the same size
block content
      section.work-overview
        h1 Working Experience
      section.work-overview
        h2 Utrecht University - Werfkracht, Freudenthal Institute
          br
          small September 2017 - February 2019
        p
          |The Werfkracht project was built to get students in touch with education. It consists of working an average of four hours a week on diverse activities for secondairy school students.
          |Examples are: 
          ul 
            li Translating the Kangaroo Mathematics competition for the visually disabled. 
            li Helping organize and assisting at conferences such as the Woudschoten Chemie beurs and Research Funding Days.
            li Assisting in multiple U-talent workshops. The U-talent courses are available for secondary school students that perform outstandingly well and want to take additional lessons in a wide variety of subjects. 
               | This includes the Arduino, Simulation and games and Music programming workshops below.
               | Below I will highlight some of the projects I worked on.

      section.work-overview
        .row
          .col-lg-4.col-sm-6.portfolio-item
            .card.h-100
              a(href='#').div-img-top
                img.card-img-top(src='/images/Arduino-collage.jpg', alt='Arduino U-talent students in the workshop')
              .card-body
                div.upper-content
                  h4.card-title Arduino workshops
                  p.card-text.
                    In this workshop secondary school students learn the fundamentals of Arduino. On day one they learn the basics by doing three projects from the Arduino starters kit book.
                    After gaining some experience, they think of a project they want to make. 
                    They come up with amazing ideas like a "high five robot", laser vault protection system, velocity sensor or infra red remote controlled robots.
                    At home, they start working on their ideas in the online Tinkercad environment. On the second day, they build their projects and solve the remaining bugs.
                    It is always a joy to help in these workshops, since after this workshop they have built something amazing, while they generally have never programmed before.
          .col-lg-4.col-sm-6.portfolio-item
            .card.h-100
              a(href='#').div-img-top
                //-iframe(width="700" height="400" src="https://www.youtube.com/embed/xG2lreUPnFQ?controls=0&autoplay=1&mute=1&loop=1&modestbranding=0" frameborder="0").card-img-top
                img.card-img-top(src='/images/unity.jpg', alt='Unity Simulation and Games')
              .card-body
                div.upper-content
                  h4.card-title  Simulation and Games in Unity
                  p.card-text.
                    This workshop teaches secondary school students with generally no programming experience to make simulations and games with the Unity engine. 
                    As a preparation the students follow the Unity tutorials. 
                    On the first day they make a rabbit population simulator by adding random movement, collision, reproduction and death. 
                    A predator and food is then added to the simulation.
                    They think about a simulation or game they want to make at home and start working on it. They finish it the second workshop day.
          .col-lg-4.col-sm-6.portfolio-item
            .card.h-100
              a(href='#').div-img-top
                div.iframe-container
                  <iframe src="https://www.youtube.com/embed/v8pd4UzvIew?autoplay=1&mute=1&loop=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" id="iFrame1"></iframe>
              .card-body
                div.upper-content
                  h4.card-title Music Programming
                  p.card-text.
                    In music programming, secondary school students learn programming, by programming their own song. 
                    In Sonic Pi they learn the basic principles of loops, methods and threads. It uses a programming language based on Ruby.
                    To accompany their song, they also program an animation in Processing, which touches briefly on classes. 
                    This is a programming language related to Java.
                    After this workshop, they have made a full music video using code.                    
          .col-lg-4.col-sm-6.portfolio-item
            .card.h-100
              a(href='#').div-img-top
                 div.iframe-container
                  <iframe src="https://www.youtube.com/embed/yMgKDpvvL-w?autoplay=1&mute=1&loop=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" id="iFrame1"></iframe>
              .card-body
                div.upper-content
                  h4.card-title
                    a(href='#') Gass Chromatography practicals
                  p.card-text.
                    Since I have done the chemistry bachelor, I also assisted in chemistry practicals.
                    The gas chromatography (GC) practical was designed to enthuse secondary school students about chemistry.
                    Secondary schools usually do not have expensive apparatus such as a GC. 
                    To give them experience with that, two students from Utrecht University are given a rental car and the equipment.
                    They drive to the school, set up the equipment and give a presentation on the subject of catalysis and GC.
                    The students then have a palladium, platinum, copper and as a control only the support: aluminium oxide. 
                    They then test how well these catalysts work for burning methane by looking at the end products with the GC.
      section.work-overview
          h2 Utrecht University - Logics assistant, Departement Informatics
            br
            small November 2018 - January 2019
          p
            | These lessons are part of a first year course in the Informatics Bachelor. 
            | I assisted this course, which means answering their questions about homework in dedicated hours throughout the week.
            | Additionally, they were required to do a minitest every friday, to which I explained the answers afterwards.
            | Topics include
          ul
            li (Infinite) Sets and relations
            li Truth tables
            li Proof and semantics with predicate logics (Natural deduction, Hilberts system, CNF, DNF, normal forms, etc)
            li Prolog
      section.work-overview
          h2 Content creator - KRO-NCRV - Volunteer
            br
            small November 2015 - March 2016
          p
          | For the scientific television program for children, Willem Wever, I have worked behind the scenes to make the content.
          | The activities consisted of:
          ul
            li proposing subjects and experiments to perform on television.
            li advising the moderators about the correct explanation of the content.
          p
          | The episodes with content were displayed on the Dutch television from April 2016.
      section.work-overview
          h2 Topselect Groep BV
            br
            small Nov 2014 - July 2018
          p.
            Various tasks within University Utrecht: 
          ul
            li Informing pupils (secondary school) about the study chemistry.
            li Laboratory assistant for secondary school pupils during their laboratory experiments, including the Chemistry Olympiad.
            li Contacting potential participants for research.
            li Helping with setup of symposia and welcoming participants
      section.work-overview
          h2 De Wolkenfietser - Bicycle repair shop
            br           
            small Jan 2011 - October 2011
          p.
            When I was on high school I was interested in technology and wanted to gain some hands-on experience.
            I repaired bicycles every week in a local bicycle repair shop. 