

.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.card-title {
  width: 100%;
}

.card-text {
  height: 70%;
  width: 100%;
  margin-bottom: auto;
}
.lower-content {
  height: 300px;
  margin-top: 10px;
}
.skills-list {
  width: 100%;
  box-sizing: border-box;
}

.card-body {
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: space-between;
}
