

.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.card-title {
  width: 100%;
}

/* media queries to align specification boxes*/
@media screen and (max-width: 4000px) {
  .lower-content {
    height: 220px;
   }
}
@media screen and (max-width: 1920px) {
  .lower-content {
    height: 220px;
   }
}
@media screen and (max-width: 1600px) {
  .lower-content {
    height: 270px;
   }
}
@media screen and (max-width: 1600px) {
  .lower-content {
    height: 270px;
   }
}
@media screen and (max-width: 1500px) {
  .lower-content {
    height: 320px;
   }
}
@media screen and (max-width: 1265px) {
  .lower-content {
    height: 350px;
   }
}
@media screen and (max-width: 1165px) {
  .lower-content {
    height: 400px;
   }
}
@media screen and (max-width: 991px) {
  .lower-content {
    height: 300px;
   }
}
@media screen and (max-width: 850px) {
  .lower-content {
    height: 350px;
   }
}
@media screen and (max-width: 767px) {
  .lower-content {
    height: 210px;
   }
}
@media screen and (max-width: 642px) {
  .lower-content {
    height: 250px;
   }
}
@media screen and (max-width: 593px) {
  .lower-content {
    height: 270px;
   }
}
@media screen and (max-width: 575px) {
  .lower-content {
    height: auto;
   }
}

.card-text {
  height: 70%;
  width: 100%;
  margin-bottom: auto;
}
.lower-content {
  margin-top: 10px;
}
.skills-list {
  width: 100%;
  box-sizing: border-box;
}

.card-body {
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: space-between;
}
.card-img-top {
  width: 100%;
}

a {
  color: lightseagreen;
}

.project-page-container {
  margin-left: 5%;
  margin-right: 5%;
}