body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.page-header {
  margin: 30pt 0pt 30pt 0pt;
  text-align: center;
}

#headerImage {
  width: 100%;
}

.navbar {
  margin: 0px;
}

.container {
  max-width: 90%;
}

@media (min-width: 150px) {
  body {
    font-size: 1.4rem !important;
  }
  h4 {
    font-size: 2.4rem;
  }
}



@media (min-width: 768px) {
  .navbar-collapse.collapse.in {
    display: block !important;
    visibility: visible !important;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  a.nav-link {
    margin: auto;
  }
  .ml-auto {
    margin-left: auto !important;
  }
  .container:before {
    content: none
  }
  .container:after {
    content: none
  }
  .navbar-nav {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    float: none;
  }

  body {
    font-size: 2rem !important;
  }
  h4 {
    font-size: 2.4rem;
  }
  .btn-nav {
    padding-bottom: 15px;
    padding-top: 15px;
  }
}

@media (min-width: 992px) {
  .navbar-collapse.collapse {
    display: flex !important;
    justify-content: right;
    align-items: baseline;
  }
  .navbar-collapse.collapse.in {
    display: flex !important;
    justify-content: right;
    align-items: baseline;
  }
  .btn-nav {
    margin: auto;
  }
  a.nav-link {
    margin: auto;
  }
}

@media (min-width: 1200px) {

}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}



.btn-inline{
  border-radius: 4px;
  min-height: 50px;
  width: 250px;
  background: lightseagreen;
  margin: 10px;
  float: none;
  border:0px;
  color:#fff;
  box-shadow: 0 0 1px #ccc;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: linear;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  box-shadow:0px 0 0 #31708f  inset;
  font-size: inherit;
}

.fa {
  margin-right: 10px;
  font-size: 20pt;
}
.nav-download {
  font-size: 10pt;
}

.btn-inline:hover{
  -webkit-box-shadow: -250px 0 0 #31708f inset;
  box-shadow: -250px 0 0 #31708f inset;
}
.btn-nav:hover{
  -webkit-box-shadow: -250px 0 0 #31708f inset;
  box-shadow: -250px 0 0 #31708f inset;
}
.btn-box:hover{
  -webkit-box-shadow: -250px 0 0 #31708f inset;
  box-shadow: -250px 0 0 #31708f inset;
}

.container {
  text-align: center;
}


h1 {
  margin-top: 30px;
}

.btn-nav{
  border-radius: 4px;
  height: 80%;
  padding: 6px;
  background: lightseagreen;
  margin: 2px;
  float: none;
  border:0px;
  color:#fff;
  box-shadow: 0 0 1px #ccc;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  box-shadow:0px 0 0 #31708f  inset;
 /* font-size: 14px;*/
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-brand div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}
.navbar-brand a {
  padding-right: 2px;
  color: lightseagreen;
}
#navbar-brand-name{
  float: none;
  color: white;
  padding: 0;
  padding-left: 15px;
}

@media (max-width: 768px) { 
  .normal-page-container {
    margin-left: 10% !important;
    margin-right: 10% !important; 
  }
  .col-md-8 {
    padding: 0;
  }
  #quote-carousel {
    padding: 5% !important;
  }
  .bordercarr {
    padding-left: 3px !important;
    padding-right: 3px !important;
  }
  button {
    width: 100% !important;
  }
  .nav-link {
    text-align: left;
    padding-left: 10% !important;
  }
  .col-sm-9 {
    text-align: center !important;
  }
}


.normal-page-container {
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
}

section {
  margin: 10px;
  padding: 5px;
}

label {
  text-align: left;
  display: block;
  margin-bottom: 20px;
}

input, textarea {
  text-align: left;
  display: block;
  margin-bottom: 30px;
  width: 100%;
  border-style: solid;
  padding: 8px;
  border-width: 2px;
  border-color: darkgray;
}

.errors {
  text-align: left;
  color: red;
  list-style: none;
  padding-left: 0px;
  margin-bottom: 5px;
}

.working-exp {
  text-align: center;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.btn-box {
  border-radius: 4px;
  min-height: 50px;
  width: 250px;
  background: lightseagreen;
  margin: 10px;
  float: none;
  border:0px;
  color:#fff;
  box-shadow: 0 0 1px #ccc;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: linear;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  box-shadow:0px 0 0 #31708f  inset;
  font-size: inherit;
}

blockquote small {
  font-size: 90%
}

.inline {
  display: inline-block;
  vertical-align: top;
  max-width: 98%;
  height: auto;
  width: 75%;
  margin: 1%;
}
img .inline {
  width:10%;
}